<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>APOCOLYPSE PARTY POLL</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center>
            <a href="http://localhost:8000/polls/"><h1>TANKER'S APOCOLYPSE PARTY POLL</h1></a>
          </center>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <center>
            <h2>{{ question.question_text }}</h2>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <br>
            <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Vote">
            </form>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
